body {
  margin: 0 auto;
  width: 360px;
  text-align: center;
}

header {
  padding: 10px;
  background-color: purple;
  text-align: center;
  color: white
}

main{
  background-color: skyblue;
  width: 100%;
  height: 483px;
  overflow: scroll;
}

.item__container {
  display: flex;
  justify-content: space-between;
  padding: 2% 4%; 
}

.item__delete {
  transition: all 0.2s ease-out;
}

.item__delete:hover {
  transform: scale(1.2);
  color: red;
}

.line {
  width: 95%;
  height: 1px;
  background-color: black;
  margin: auto;
}

footer {
  background-color: purple;
  display: flex;
  flex-direction: column;
}

.get__write{
  padding: 0 2%;
}

.plus{
  font-size: 24px;
  transition: all 0.2s ease-out;
}

.plus:hover {
  transform: scale(1.2);
}

ul{
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


