body {
  margin: 0;
}
.btnContainer {
  position: fixed;
}
.scrollBtn {
  margin: 10px;
}
.rectangle {
  width: 200px;
  height: 200px;
  background-color: orange;
  margin-bottom: 10px;
}

.middle {
   background-color: purple;
}
