body {
  margin: 0;
  background-color: black;
}

.line {
  position: absolute;
  background-color: white;
}

.line.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}

.line.vertical {
  width: 1px;
  height: 100%;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.discription {
  color: white;
  position: absolute;
  top: 55%;
  left: 55%;
}